<h2>Welcome, <%=@user.first_name %></h2>
<h3>Jobsite List...</h3>
<ul>
    <% @jobsites.each do |jobsite|%>
    <li><a href="/jobsite/<%=jobsite.id%>"><%= jobsite.name %></a></li>
    <%end%>
</ul>
<br>
<br>
<div>
    <h3>Create New Jobsite</h3>
    <form action="/jobsite/new" method="POST">
        <label>Name: </label><input type="text" name="jobsite[name]">
        <input type="submit" value="+">
    </form>
</div>