    <h1>Welcome</h1>
    <div id="form">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label>Email: </label><input type="text" name="user[:email]" value="<%=@email unless @email.blank?%>" required><br><br>
        <label>Password:</label><input type="password" name="user[:password]" required><br><br>
        <label style="color:red;"><%= @error unless @error.blank? %></label><br>
        <br><input type="submit" value="Log-In User"> 
    </form>
    <br><button><a href="/signup">New User</a></button>
    </div>