* {
    list-style: none;
    margin: 0;
    padding: 0;
  }

html {
	/* text-align: center; */
	background-image: url(../images/benz.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}


#form {
    background: rgb(247, 241, 241);
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    margin: 15px auto;
    width: 50%;
    padding: 15px;
}

#jobsite_form {
  background: rgb(247, 241, 241);
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  margin: 10px;
  padding: 15px;
}

.main_page {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 90%;
    max-height: fit-content;
    align-items: center;
    padding: auto;
    padding-bottom: 10px;
    text-align: center;
}



  
  #sub_header {
    background:rgba(179, 179, 179, 0.3);
    padding: 5px 15px 5px 10px;
    border-bottom: 1px solid rgb(143, 143, 143);
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    padding: auto;
    text-align: left;
  }


  #header_h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 5px;
    text-align: center;
  }

  #display_list {
    width: 90%;
    background-color: rgb(225, 230, 236);
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align:center;
    align-items: center;
  }

  #back_button {
    width: 20px;
    height: 20px;
    
  }

  #back_button a {
    text-emphasis: none;
  }