@media screen {
  /* --- Reset Styles --- */

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: lightsteelblue;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  table {
    border: 1px, solid, black;
    width: fit-content;
  }

  td{
    border: 1px, solid, black;
    text-align: left;
    min-width: 2%;
    max-width: 50%;
  }

  th {
    text-align: left;
    font-size: 14px;
    color: darkslateblue;
  }

  #form {
    background: rgb(247, 241, 241);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    margin: 15px auto;
    width: 50%;
    padding: 15px;
  }

  #jobsite_section {
    background: rgb(19, 54, 211);
    padding: 10px;
    margin: auto;
    display: inline-flex;
  }

  #jobsite_section_left {
    background: rgb(22, 196, 74);
    padding: 10px;
    margin: auto;
    width: 70%;
  }

  #jobsite_section_left {
    background: rgb(199, 17, 169);
    padding: 10px;
    margin: auto;
    width: 25%;
  }

  /* #my_jobsites {
    display: inline-block;
  } */

  #jobsite_card {
    width: 25%;
    background: rgb(221, 221, 223);
    padding: 10px;
    margin: 10px;
  }

  .wrapper {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 90%;
    max-height: 90%;
    align-items: center;
    padding: auto;
    text-align: center;
    /*padding: 2.25%;  18px / 800px */
  }



  #time_form {
    background: rgb(247, 241, 241);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    margin: 15px auto;
    width: 95%;
    padding: 15px;
  }

  header {
    top: 0;
    height: fit-content;
    min-height: 20px;
    background: rgb(68, 68, 68);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    margin-bottom: 10px;
    padding:10px;
    color: white;
  }
  
  #header_link {
    color: white;
    text-decoration: none;
    height: 20px;
    padding: 10px;
    width: 200px;
  }


  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    text-align: left;
  }

  #header_h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 5px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  .main {
    overflow: hidden;
  }
}