<h1>Welcome</h1>
<div class="content">
    <h2>Please fill in fields to Sign-up</h2>
    <form action="/signup" method="POST">
        <ul>
        <li><label>First Name</label><input type="text" name="user[first_name]" value="<%=@user.first_name unless @user.nil?%>" required></li>
        <li><label>Last Name</label><input type="text" name="user[last_name]" value="<%=@user.last_name unless @user.nil?%>" required></li>
        <li><label>Email</label><input type="text" name="user[email]" value="<%=@user.email unless @user.nil?%>" required> <label style="color:red;"><label style="color:red;"><%= @error unless @error.blank? %></label></li>
        <li><label>Password</label><input type="password" name="user[password]" required></li>
        </ul>
        <input type="submit" value="Create User"> 
    </form>
</div>


