<h1>Welcome</h1>
<div class="content">
    <h2>You currently do not have access to this information</h2>
    <h4> Please login or signup to continue</h4>
    <br><button><a href="/login">Login</a></button>
    <br><button><a href="/signup">New User</a></button>
</div>