<!DOCTYPE html>
  <head>
    <title>Jobsite Log</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <header>
      <h2 style="float:center;"> Jobsite Sitecrew Log </h2>
        <a href="/jobsites">Jobsites</a>
        <a href="/logout">Log Out</a>
  </header>
    <div class="wrapper">

        <%= yield %>

    </div>
  </body>
</html>