<!DOCTYPE html>
  <head>
    <% if @jobsite.nil? %>
    <title>Jobsite Log</title>
    <% else %>
    <title><%=@jobsite.name%></title>
    <%end%>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/time_entry.css"/>
    <link rel="stylesheet" href="/stylesheets/jobsite.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
  </head>
  <body>
    <header>
            <div class="dropdown" style="float:left;">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content" style="left:0;">
                  <a href="/jobsites">Jobsites</a>
                  <a href="/logout">Log Out</a>
                </div>
              </div>

              <div  id="headerWelcome"> Welcome, <%=current_user.first_name%> <%=current_user.last_name[0].capitalize%>!</div>
    </header>
    <div class="main_page">
        <%= yield %>
    </div>

  </body>
</html>