<!DOCTYPE html>
  <head>
    <title>Jobsite Log - Main</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
        <nav style="float:left;">
            <a id = "header_link"  href="/logout">Log Out</a>
        </nav>
        <p style="float:right;"> Welcome, <%=current_user.first_name%> <%=current_user.last_name[0].capitalize%>!</p>
    </header>
    <br><br>
    <div class="wrapper">
        <%= yield %>
    </div>

  </body>
</html>