<!DOCTYPE html>
  <head>
    <title>Jobsite Log - Sign In</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
      <div class="page">
        <header>
        </header>

          <%# <div class="main_page"> %>

              <%= yield %>

          <%# </div> %>
      </div>
  </body>
</html>