<!DOCTYPE html>
  <head>
    <title>Jobsite Log</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <header>
        <h1 style="text-align:center;"> Jobsite Log </h1>
  </header>

    <div class="wrapper">

        <%= yield %>

    </div>
  </body>
</html>