<!DOCTYPE html>
  <head>
    <title>Jobsite Log - Sign In</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <header>
        <p id="header_h2"> Jobsite Log </p>
  </header>

    <div class="wrapper">

        <%= yield %>

    </div>
  </body>
</html>